.field-wrapper {
    margin-bottom: 1vw;
    padding: 0 3vw;
}

.field-wrapper span {
    font-size: 1.3rem;
    font-weight: 400;
}

.field-wrapper input,
.field-wrapper textarea {
    width: 100%;
    margin-bottom: 1.3vw;
    margin-top: 1vw;
}

.field-wrapper .btn {
    width: 40%;
    font-size: 1.3rem;
    font-weight: 500;
}