.field-wrapper-name{
    background: rgba(0,0,0,0.18);
    position: relative;
    padding-left: 10px;
    width: 50%;
    height: 20%;
}



.field-wrapper label[text]{
    width: 1000px;
    border-width:10px;
    border-style: None;
    font-family:"Courier New",monospace;
    font-size:12px;
    padding: 10px;
}

.Title-new {
    padding: 30px 30px 30px 25%;
}

.Title-new h3{
    font-size: 4rem;
    font-weight: bold;
}