.Title-new {
    padding: 30px 30px 30px 25%;
}

.Title-new h3{
    font-size: 4rem;
    font-weight: bold;
}
.block{
    font-weight: bold;
}

.left-block {
    float: left;
    width: 48%;
    height: 300px;
}

.right-block{
    float: right;
    background: #DD33FF;
    width: 48%;
    height: 300px;
}

.left-block .name{
    padding-left: 10px;
    padding-right: 10px;
}
input{
    width: 100%;
    background: rgba(227, 191, 45, 0.43);
    border-color: #282828;
}

.right-block .ingred{
    padding-left: 10px;
    padding-right: 10px;
}