.recipe-img {
    overflow: hidden;
    text-align: center;
    height: 200px;
    width: 200px;
    position: relative;
}

.recipe-img img {
    max-height: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.recipe-buttons {
    display: flex;
    flex-direction: column;
}

.recipe-buttons .notActivated {
    border-radius: 10px;
    width: 200px;
    height: 50px;
    color: #D8D5C4;
    margin: .5vw 0;
    text-align: center;
    text-decoration-color: rgba(0,0,0,0);

    background-image: linear-gradient(to right, #5A6E5A, #D8D5C4);
    background-size: 1000%;
    transition: background-position .5s ease;
    border-bottom: #06253b;
}

.recipe-buttons .notActivated:hover{
    background-position: right;
    color: #5A6E5A !important;
}

.recipe-buttons .Activated {
    border-radius: 10px;
    width: 200px;
    height: 50px;
    color: #D8D5C4;
    margin: .5vw 0;
    text-align: left;
    text-decoration-color: rgba(0,0,0,0);

    background-image: linear-gradient(to right, #C05E51, #D8D5C4);
    background-size: 1000%;
    transition: background-position .5s ease;
    border-bottom: #06253b;
}

.recipe-buttons .Activated:hover{
    background-position: right;
    color: #5A6E5A !important;
}