.navbar-sup{
    width: 100%;
    background: #023047;
    height: 75px;

}

.iconSupIzq{
    width: 100px;
    height: 100%;
    font-weight: bold;
    padding-top: 1px;
    padding-left: 10px;
    font-size: 50px;
    float: left;
    clear: both;
    color: #FFF9DF;
    text-decoration-color: rgba(0,0,0,0);
    transition: color .5s ease;
}

.iconSupIzq:hover{
    color: #E3BF2D;
}

.iconSupDer{
    height: 100%;
    display: block;
    float: right;
    padding-top: 15px;
    padding-left: 10px;
}

.button-navbarSup{
    background-image: linear-gradient(to right,#219EBC,#FFB703);
    background-size: 600%;
    transition: background-position .5s ease;
    color: #E0E0E0;

    text-decoration-color: rgba(0,0,0,0);
    height: 40px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 8px;

    border-radius: 25px;

    float: right;

    font-weight: bold;
}

.button-navbarSup:hover{
    background-position: right;
    color: #2E35B3 !important;
}

.button-navbarSup2{
    background-image: linear-gradient(to right,#219EBC,#FFB703);
    background-size: 600%;
    transition: background-position .5s ease;
    color: #E0E0E0;

    text-decoration-color: rgba(0,0,0,0);
    height: 40px;
    width: 200px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 8px;

    border-radius: 25px;

    float: right;

    font-weight: bold;

}

.button-navbarSup2:hover{
    background-position: right;
    color: #2E35B3 !important;
}

.navbar-izq {
    float: left;
    position: fixed;
    border-right: #06253b;
    border-right-width: 10px;

    background-image: linear-gradient(to right,#219EBC,#8ECAE6);
    background-size: 1000%;

    width: 250px;
    height: 100%;
}

.button-navbarIzq{
    font-size: 1rem;
    font-weight: bold;
    text-decoration-color: rgba(0,0,0,0);

    padding-top: 10px;
    background-image: linear-gradient(to right,#219EBC,#8ECAE6);
    background-size: 1000%;
    transition: background-position .5s ease;

    color: #E0E0E0;
    margin-bottom: 1px;




    width: 250px;
    height: 50px;

    float: left;
    border-bottom: #06253b;

}

.button-navbarIzq:hover{
    background-position: right;
    color: #023047 !important;
}

