body {
    background-image: url("../img/fondo.jpg");
    background-position: left;
}

.button {
    border: 1px solid #DD33FF;
    background-color: #FAFAFA;
    color: #DD33FF;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top : 15px;
    margin-bottom: 15px;
}

.title-block {
    margin-bottom: 3vw;
}

main .main-contenido{
    padding: 10px;
    border-radius: 10px;
    display: block;
    margin-top: 90px ;
    margin-left: 280px;
    margin-right: 18px;
    background: rgba(224, 224, 224, 0.45);
}


