<!-- Load the tag library -->
{% load bootstrap5 %}

<!-- Load CSS and JavaScript -->
{% bootstrap_css %}
{% bootstrap_javascript %}

<!-- Display django.contrib.messages as Bootstrap alerts -->
{% bootstrap_messages %}

<!-- Cargar statics para Django -->
{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
  <title>{% block page_title %}{% endblock %} - Ghoti</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Escalar segun dispositivo -->
  <meta charset="UTF-8"> <!-- Usar charset UTF-8 -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link rel="stylesheet" href="{% static 'styles/style.css' %}">
  <link rel="stylesheet" href="{% static 'styles/navbar.css' %}">

  {% block specific_css_files %}{% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-left">
    <a class="navbar-brand col-1" href="/">Ghoti</a>
    <div class="navbar-links col-3" id="navbarText">
      <ul class="navbar-nav d-flex justify-content-start">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Recetas</a>
        </li>
      </ul>
    </div>
    <div class="navbar-buttons justify-content-end d-flex col-3 offset-5">
      {% if request.user.is_authenticated %}
      <span class="saludo">Hola, {{request.user.username|title}}</span>
      {% endif %}
      {% if request.user.is_authenticated %}
      <a class="btn btn-success" href="/recipes/new">Agregar receta</a>
      <a class="btn btn-danger" href="/logout">Salir</a>
      {% else %}
      <a class="btn btn-light" href="/login">Ingresar</a>
      <a class="btn btn-primary" href="/register">Registrarse</a>
      {% endif %}
    </div>
  </nav>
  <main class="main container">
    {% block page_content %}{% endblock %}
  </main>

  {% block scripts %}{% endblock %}
</body>

</html>
