{% load static %}
{% block specific_css_files %}
    <link rel="stylesheet" href="{% static 'styles/registerAndLogin.css' %}">
{% endblock %}

{% block page_content %}
    <div class="init">
        <a class="init" href="/">Ghoti</a>
    </div>
    <div class="bloqueRegLog">
        <h1  style="text-align: center">Inicio de sesión</h1>
        <form method="post">
          {% csrf_token %}
          <label>{{form.label}}</label>
          {{form.username}}
            <p>Usuario:</p>
          <label>{{form.label}}</label>
          {{form.password}}
            <p>Contraseña:</p>
          <br>
            <div class="ingresar"><input class="button" type="submit" value="Login"></div>
        </form>
        <div class="register"><p>¿No tienes una cuenta? <a href="{% url 'register' %}">Regístrate</a></p></div>
    </div>
{% endblock %}

{% block scripts%}
{% endblock %}
