{% load static %}


{% block specific_css_files %}
<link rel="stylesheet" href="{% static 'styles/registerAndLogin.css' %}">
{% endblock %}

{% block page_content %}
<div class="backgroundRegisterAndLogin">
    <div class="init">
        <a class="init" href="/">Ghoti</a>
    </div>
    <div class="bloqueRegLog">
        <h1 style="text-align: center">Registro de usuario</h1>
        <form class="formRegister" method="post">
          {% csrf_token %}

          <label class="sol-name"></label>
            <p>Nombre de usuario</p>
          {{form.username}}

          <label class="sol password1"></label>
            <p>Contraseña</p>
          {{form.password1}}

          <label class="sol password1"></label>
            <p>Confirme contraseña</p>
          {{form.password2}}
          <br>
          <div class="UbcButton"><input class="button" type="submit" value="Registrarse" style="float:contour"></div>
        </form>
        <div class="parteInferior">
            <p >¿Ya tienes una cuenta?</p>
            <p><a href="{% url 'login' %}">Inicia sesión</a></p>
        </div>


    </div>
</div>
{% endblock %}

{% block scripts%}
{% endblock %}
