{% extends 'base.html' %}
{% load static %}

{% block page_title %}Agregar receta{% endblock %}

{% block specific_css_files %}
<link rel="stylesheet" href="{% static 'styles/display.css' %}">
{% endblock %}



{% block page_content %}

<body>

<h2>Lista Recetas</h2>

<p>Lista de recetas ingresadas por los usuarios</p>


<div class="grid-container"> 

{% for recipe in recipes %}
<div class="container-fluid">
  <img class="img-responsive" src="{% static 'img/'|add:recipe.image_path %}" alt="Chania" width="160" height="160"> 
  <br>
  <h4>{{recipe.name}}</h4>
  <p>Author:{{recipe.user.username}}</p>
  
</div>
    
{% endfor %}
</div>
</body>

{% endblock %}

{% block scripts%}
{% endblock %}

