<!-- <!DOCTYPE html>
<html> -->

<!-- 
<head>
<style>

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  /* background-color: #2196F3; */
  padding: 10px;
}

.grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 20px 0;
  font-size: 12px;
}
</style>
</head>
-->
{% extends 'base.html' %}
{% load static %}

{% block page_title %}Agregar receta{% endblock %}

{% block specific_css_files %}
<link rel="stylesheet" href="{% static 'styles/new.css' %}">
{% endblock %}



{% block page_content %}

<body>

<h2>Lista Recetas</h2>

<p>Lista de recetas ingresadas por los usuarios</p>


<div class="grid-container"> 

{% for recipe in recipes %}
<div class="container-fluid">
  <img class="img-responsive" src={{recipe.image.url}} alt="Chania" width="160" height="160"> 
  <br>
  <h4>{{recipe.name}}</h4>
  <p>Author:{{recipe.user.username}}</p>
  
</div>
    
{% endfor %}
</div>
</body>

{% endblock %}

{% block scripts%}
{% endblock %}

<!-- </html> -->
