{% extends 'base.html' %}
{% load static %}

{% block page_title %}Recetas{% endblock %}

{% block specific_css_files %}
<link rel="stylesheet" href="{% static 'styles/display.css' %}">
{% endblock %}

{% block page_content %}
<div class="title-block">
    <h3>Recetas</h3>
</div>
<div class="recipes-block">
  {% for recipe in recipes %}
  <a class="recipe-card" href="{% url 'recipe' recipe.id %}">
    <div class="recipe-image" style="background-image: url('{% if recipe.image %}{{ recipe.image.url }}{% else %}{% static 'img/default.png'%}{% endif %}')">
    </div>
    <div class="recipe-info">
      <h1 class="recipe-name">{{ recipe.name }}</h1>
      <p>Por: {{ recipe.user.username }}</p>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}

{% block scripts%}
{% endblock %}
