{% extends 'base.html' %}
{% load static %}

{% block page_title %}Inicio{% endblock %}

{% block specific_css_files %}
<link rel="stylesheet" href="{% static 'styles/new.css' %}">
{% endblock %}

{% block page_content %}

    <div class="title-block">
    <h3>Agregar receta</h3>
    </div>

<form class="recipe-form row" method="post" action="/recipes/new/" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-block col-6">
        <div class="field-wrapper">
            <span>* Título receta:</span>
            {{ form.name }}
        </div>
        
        <div class="field-wrapper">
            <span>* Ingredientes:</span>
            {{ form.ingredients }}
        </div>
        
        <div class="field-wrapper">
            <span>* Instrucciones:</span>
            {{ form.instructions }}
        </div>

        <div class="field-wrapper">
            <input class="btn btn-success" type="submit" value="Agregar Receta"/>
        </div>
    </div>
    <div class="form-block col-6">
        <div class="field-wrapper">
            <span>Foto:</span>
            {{ form.image }}
        </div>
    </div>
</form>
{% endblock %}


{% block scripts%}
{% endblock %}